@args (String host, RockerBody content)
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表管理</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .action-buttons button {
            margin-right: 5px;
        }
    </style>
</head>
<body >

<div class="container" >
    <h2 class="text-center">列表管理</h2>
    <form id="addForm" class="mb-4">
        <div class="form-group">
            <label for="itemName">redis-url</label>
            <input type="text" class="form-control" id="itemUrl" placeholder="格式如下：redis://localhost:6379/0" required>
        </div>
        <div class="form-group">
            <label for="itemDesc">操作人名</label>
            <input type="text" class="form-control" id="itemName" placeholder="操作人姓名" required>
        </div>

        <div class="form-group">
            <label for="itemDesc">登录密码</label>
            <input type="text" class="form-control" id="itemPass" placeholder="密码" >
        </div>

        <div class="form-group">
            <label for="itemDesc">备注</label>
            <input type="text" class="form-control" id="itemDesc" placeholder="备注" required>
        </div>


        <button type="submit" class="btn btn-primary">添加</button>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>操作人</th>
            <th>密码</th>
            <th>备注</th>
            <th>运行批次</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="listBody">
        <!-- 列表数据将在这里动态生成 -->
        </tbody>
    </table>
</div>

<script src="/static/js/jq.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/const.js"></script>
<script>

    let items = []; // 假设的数据源
    $(function(){
      if(!localStorage.getItem("token")) {
          alert(localStorage.getItem("token"));
          location.href="login";
      }
        fetch(getAll, {
            method: 'GET',
            headers: {
                'token': localStorage.getItem("token")
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data.code==0) {
                    items=data.data.books;
                    // 初始化渲染列表
                    renderList();
                } else {
                    alert(data.msg);
                }
            })
            .catch(error => {
                console.error('请求出错:', error);
            });
    });




    document.getElementById('addForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const url = document.getElementById('itemUrl').value;
        const name = document.getElementById('itemName').value;
        const pass = document.getElementById('itemPass').value;
        const desc = document.getElementById('itemDesc').value;
        addItem(url,name,pass, desc);
        this.reset(); // 清空表单
    });

    function addItem(url,username,password, des) {

        if(!localStorage.getItem("token")) {
            alert(localStorage.getItem("token"));
            location.href="login";
        }
        fetch(postBook, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'token': localStorage.getItem("token")
            },
            body: JSON.stringify({ url,username,password ,des})
        })
            .then(response => response.json())
            .then(data => {
                if (data.code==0) {
                    const newItem = data.data;
                    items.push(newItem);
                    renderList();
                } else {
                    alert(data.msg);
                }
            })
            .catch(error => {
                console.error('请求出错:', error);
            });




    }

    function renderList() {

        const tbody = document.getElementById('listBody');
        tbody.innerHTML = '';
        items.forEach(item => {
            const row = `
            <tr>
                <td>${item.id}</td>
                 <td>${item.url}</td>
                <td>${item.username}</td>
                 <td>${item.password}</td>
                <td>${item.des}</td>
                 <td>${item.pingid}</td>
                <td class="action-buttons">
                     <button class="btn btn-success" onclick="Run(${item.id})">启动扫描</button>
                    <button class="btn btn-danger" onclick="deleteItem(${item.id})">删除</button>
                    <button class="btn btn-warning" onclick="QueryR('${item.pingid}')">查询结果</button>
                </td>
            </tr>`;
            tbody.insertAdjacentHTML('beforeend', row);
        });
    }

    function editItem(id) {
        const item = items.find(i => i.id === id);
        if (item) {
            const newUrl = prompt("请输入新的url:", item.url);
            const newName = prompt("请输入新的登录名:", item.name);
            const newPass = prompt("请输入新的密码:", item.pass);
            const newDesc = prompt("请输入新的描述:", item.desc);
            if (newName && newDesc) {
                item.name = newName;
                item.desc = newDesc;
                item.url = newUrl;
                item.pass = newPass;
                renderList();
            }
        }
    }




    function QueryR(pingid) {

        if(!pingid){
            alert("没有运行批次！")
            return;
        }

        if(pingid==null||pingid==""||pingid=="null" ){
            alert("没有运行批次！")
            return;
        }

        if(!localStorage.getItem("token")) {
            alert(localStorage.getItem("token"));
            location.href="login";
        }
        fetch(getToRedis+pingid, {
            method: 'GET',
            headers: {

                'token': localStorage.getItem("token")
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.code==0) {



                    // 将 JSON 数据格式化为字符串
                    var formattedJson = JSON.stringify(data.data);
                    // 将格式化的 JSON 数据设置到模态对话框的内容区域
                  alert(formattedJson);

                } else {
                    alert(data.msg);
                }
            })
            .catch(error => {
                console.error('请求出错:', error);
            });
    }












    function Run(id) {


        var userConfirmed = confirm("你确定开始扫描?");
        if (userConfirmed) {

        if(!localStorage.getItem("token")) {
            alert(localStorage.getItem("token"));
            location.href="login";
        }
        fetch(scanToRedis+id, {
            method: 'GET',
            headers: {

                'token': localStorage.getItem("token")
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.code==0) {
                    items = items.filter(item => item.id !== id);
                    alert("当前运行批次号： "+data.data);
                   // location.reload();
                } else {
                    alert(data.msg);
                }
            })
            .catch(error => {
                console.error('请求出错:', error);
            });


       // renderList();

    }
    }



    function deleteItem(id) {

        if(!localStorage.getItem("token")) {
            alert(localStorage.getItem("token"));
            location.href="login";
        }
        fetch(delBook+id, {
            method: 'DELETE',
            headers: {

                'token': localStorage.getItem("token")
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.code==0) {
                    items = items.filter(item => item.id !== id);
                    renderList();
                } else {
                    alert(data.msg);
                }
            })
            .catch(error => {
                console.error('请求出错:', error);
            });

    }

function  init(){

    const sse = new URL(sseUrl);
    sse.searchParams.append('token', localStorage.getItem("token"));
    const eventSource = new EventSource(sse.href);

    eventSource.onmessage = function(event) {
        console.log(event.data);
    };
    eventSource.onerror = function(error) {

        console.error('EventSource failed:', error);
    };
}
</script>

</body>
</html>